<% if(success && success.length) {%>
    <div class="card-panel light-green lighten-3"><%=success%></div>
    <%}%>
    <% if(error && error.length) {%>
      <div class="card-panel deep-orange darken-3"><%=error%></div>
      <%}%>