      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
               
      <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, options);
          });
          M.Sidenav.init(document.querySelector('.sidenav'))
          M.FormSelect.init(document.querySelector('#status'))

          
        $(document).ready(function() {
            $('input#input_text, textarea#textarea2').characterCounter();
        });
          
      </script>
</body>
</html>