<footer class="page-footer grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Food on Run</h5>
          <p class="grey-text text-lighten-4">Rather than wasting leftovers, let us make sure no one sleeps with empty stomach ✨</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/nitish-jha-7907021a2/">LinkedIn</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/Aiden16">Github</a></li>
            <li><a class="grey-text text-lighten-3" href="https://aiden16.github.io/portfolio/">Portfolio</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Nitish Jha
      </div>
    </div>
  </footer>