<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <script src="/test.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Home</title>

</head>

<body>
<div class="navbar-fixed">
    <nav class="grey darken-3">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo ">Food on Run</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/new">New</a></li>
            <li><a href="/">Home</a></li>
            <%if(!currentUser){%>
            <li><a href="/register">Register</a></li>
            
            <li><a href="/login">login</a></li>
            <%} else{%>
            <li><a href="/logout">Logout</a></li>
            <%}%>

          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
        <%if(!currentUser){%>
        <li><a href="/register">Register</a></li>
        
        <li><a href="/login">login</a></li>
        <%} else{%>
        <li><a href="/logout">Logout</a></li>
        <%}%>
      </ul>
</div>
  