<%-include('./partials/header')%>
    <div class="container">
        <div class="row">
            <form class="col s12" action="/new" method="POST">
              <div class="row">
                <div class="input-field col s6">
                  <input  id="food_name" type="text" name="name" class="validate">
                  <label for="food_name" class="active">Food Name</label>
                </div>
                <div class="input-field col s6">
                  <input id="food_image" type="text" name="image" class="validate">
                  <label for="food_image" class="active">Image</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="location"  name="location" class="validate">
                  <label for="location" class="active">Location</label>
                </div>
              </div>
              <div class="row">
                  <button class="btn-floating btn-large waves-effect waves-light red" type="submit" name="action">
                    <i class="material-icons right">add</i>
                  </button>
              </div>
            </form>
          </div>
    </div>
    <%-include('./partials/footer')%>